.showpage-master-size{
  min-width: 1020px;
  display: flex;
  flex-direction: column;
  
}

.showpage-working-size{
  display: flex;
  max-width: 960px;
  
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

}

.showpage-business-info-master{
  height: 440px;
  width: 100%;
}

.showpage-business-info-top-master{
  height: 130px;
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showpage-business-info-lower-master{
  height: 310px;
}