.showpage-business-sidebar-hours {
  height: 180px;
  font-size: 14px;
}

.sidebar-category-title{
  margin-bottom: 12px;
  color: #d32323;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hours-info{
  display: flex;
  flex-direction: row;
}

.hours-day{
  font-weight: bold;
}

.hours-time{
  margin-left: 40px;
  letter-spacing: 1px;
}

.showpage-business-sidebar-info {
  height: 400px;
  font-size: 14px;
}

.sidebar-business-info-container li {
  line-height: 24px;
}

.sidebar-business-info-item {
  font-weight: bold;
  padding-left: 4px;
}