.business-index-master{
  font-size: 12px;
  min-width: 1020px;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-top: 20px;
}

.business-index-section-entire-master{
  max-width: 960px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.business-index-section-parent{
  min-width: 630px;
}

.business-index-sidebar-parent{
  min-width: 300px;
  flex-direction: column;
}

.business-index-sidebar-stuck {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: rgb(221, 221, 221);
  font-size: 20px;
}

.fake-map {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}