.business-nav-bar-parent {
  font-size: 12px;
  min-width: 1020px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.business-nav-bar-upper-parent {
  background: #d32323;
  height: 65px;
}

.business-nav-bar-upper{
  display: flex;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 65px;
}

.business-logo {
  background-image: url(https://s3-media1.fl.yelpcdn.com/assets/srv0/styleguide/891ac3707136/assets/img/brand_guidelines/yelp_fullcolor@2x.png);
  background-size: 110px 70px;
  height: 65px;
  width: 100px;
}

.business-nav-search{
  display: flex;
  height: 40px;
  width: 703px;
  background: white;
  border-radius: 3px;
  text-align: center;
  justify-content: flex-start;
  font-size: 14px;
}

.business-search-find{

}

.business-search-near{
  border-left: 1px solid rgb(221, 221, 221);
}

.business-nav-session{
  display: flex;
  height: 40px;
  width: 141px;
  align-items: center;
  justify-content: space-around;
}

.business-nav-login {
  background-color: #d32323;
  color: white;
  border: 1px solid #7c1014;
  padding: 12px;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
}

.business-nav-signup{
  padding: 12px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  
}

.business-nav-bar-lower {
  display: flex;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 42px;
}

.nav-bar-lower-left{
  border-left: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: row;
  height: inherit;
  
}

.nav-bar-lower-left-item{

}

.nav-bar-lower-right{
  border-right: 1px solid rgb(221, 221, 221);
  height: inherit;
}

.business-index-spacer{
  height: 165px;
  background-color: rgb(241, 241, 241);
  border-bottom: 1px solid rgb(221, 221, 221);
}