.review-index-master{
  display: flex;
  flex-direction: column;
}

.review-master{
  // background:rgb(162, 162, 202);
  border-top: 1px solid rgb(230, 230, 230);
  padding: 15px 0px;
}

.review-master-child{
  display: flex;
  flex-direction: row;
}

.review-author-container{
  width: 37.5%;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
}

.review-author-picture{
  height: 60px;
  width: 60px;
  border: 1px solid black;
  border-radius: 4px;
}

.review-author-info{

}

.review-content-container{
  width: 62.5%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}

.review-content-rating{

}

.review-content-body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}