.home-main-section::after {
  content: "";
  // background: url(https://s3-media2.fl.yelpcdn.com/bphoto/56iJtZPYDgoy0hSV4Ez5zw/o.jpg);
  background: url(https://s3-media4.fl.yelpcdn.com/bphoto/pkwm_5P7XMoIXHOzQR0Y7A/o.jpg);
  filter: brightness(70%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.home-main-nav-bar{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.home-nav-bar{
  display: flex;
  flex-direction: row;
  // background-color: pink;
  justify-content: space-between;
  height: 50px;
  margin-top: 30px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;

}

.nav-bar-left{
  display: flex;
  justify-content: space-around;
  width: 350px;
  align-items: center;
}

.github {
  background-image: url(https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.linkedin {
  background-image: url(http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c528.png);
  height: 30px;
  width: 130px;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-underline {
  // transition: 0.15s;
  padding-bottom: 8px;
  margin-top: 8px;
  border-bottom: 2px solid transparent;
}

.home-underline:hover{
  border-bottom: 2px solid white;
  cursor: pointer;
}

.home-signup{
  border: 2px solid white;
  padding: 7px 24px 8px;
  border-radius: 4px;
}

.home-signup:hover{
  background-color: white;
  color: rgb(95, 95, 95)
}

.home-signup:active{
  background-color: white;
  color: rgb(168, 168, 168)
}

.nav-bar-right{
  display: flex;
  // background-color: blue;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 30px;
  font-weight: 700;
  color: white;
}

#logout {
  display: flex;
  flex-direction: row-reverse;
}

.home-main-inner{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 80px 0px 0px 0px;
}

.home-logo-banner{
  height: 112px;
  align-content: center;
  justify-content: center;
}

.home-logo{
  height: 112px;
  width: 200px;
  font-size: 24px;
  font-family: "RockoFLF";
  font-weight: bold;
  background-image: url(https://s3-media1.fl.yelpcdn.com/assets/srv0/styleguide/891ac3707136/assets/img/brand_guidelines/yelp_fullcolor@2x.png);
  background-size: 220px 140px;
  background-repeat: no-repeat;
}

.home-search-bar-main{
  display: block;
  width:100%;
  height: 15px;
}
