.home-page{
  height: 600px;
}

.home-main-section::after {
  content: "";
  background: url(https://s3-media4.fl.yelpcdn.com/bphoto/pkwm_5P7XMoIXHOzQR0Y7A/o.jpg);
  filter: brightness(70%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  min-width: 1020px;
}

.home-main-nav-bar{
  max-width: 960px;
  margin: 0 auto;
}

.home-nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin-top: 30px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;

}

.nav-bar-left{
  display: flex;
  justify-content: space-around;
  width: 350px;
  align-items: center;
}

.github {
  background-image: url(https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.linkedin {
  background-image: url(http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c528.png);
  height: 30px;
  width: 130px;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-underline {
  padding-bottom: 8px;
  margin-top: 8px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.home-underline:hover{
  border-bottom: 2px solid white;
}

.home-underline:active {
  color: rgb(160, 160, 160);
}

.home-signup{
  border: 2px solid white;
  padding: 7px 24px 8px;
  border-radius: 4px;
}

.home-signup:hover{
  background-color: white;
  color: rgb(95, 95, 95)
}

.home-signup:active{
  background-color: white;
  color: rgb(168, 168, 168)
}

.nav-bar-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 30px;
  font-weight: 700;
  color: white;
}

#logout {
  display: flex;
  flex-direction: row-reverse;
}

.home-main-inner{
  display: flex;
  flex-direction: column;
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 0px 0px;
  height: 325px;
  margin: 0 auto;
}

.home-logo{
  height: 80px;
  width: 160px;
  font-size: 24px;
  font-family: "RockoFLF";
  font-weight: bold;
  background-image: url(https://i.imgur.com/yTIBduc.png);
  background-size: 160px 80px;
  background-repeat: no-repeat;
}

.home-category-navigation-bar{
  color: white;
  font-weight: bold;
}

.nav-underline {
  padding-bottom: 8px;
  margin-top: 8px;
  border-bottom: 2px solid transparent;
}

.nav-underline:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.home-page-lower{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-lower-title{
  margin: 20px 0 30px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #d32323;
}

.home-lower-categories-container{
  height: 300px;
  width: 900px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.home-drink-category{
  width: 200px;
  height: 250px;
  border: 1px solid rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.home-drink-category:hover{
  box-shadow: 2px 2px 15px #bdbdbd;
}

.home-drink-category:hover > div {
  color: #0073bb;
}

.home-category-text{
  color: black;
  font-size: 20px;
  font-weight: bold;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-all-picture{
  background: url("https://hostpapa.blog/blog/wp-content/uploads/2013/07/8-Simple-Ways-to-Market-Your-Small-Business-Online.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -105px;
  height: 85%;
}

.home-coffee-picture{
  background: url("https://hhp-blog.s3.amazonaws.com/2018/07/iStock-673468996.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -105px;
  height: 85%;
}

.home-boba-picture{
  background: url("https://themovementmenu.com/wp-content/uploads/2015/08/square-of-boba-1-of-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85%;
}

.home-beer-picture{
  background: url("https://www.gannett-cdn.com/-mm-/89934f7b13e7717eb560f3babda84f20895abcd0/c=83-0-724-482/local/-/media/2018/07/17/DetroitFreeP/DetroitFreePress/636674313628993565-GettyImages-684133728.jpg?width=534&height=401&fit=crop");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -50px;
  height: 85%;
}

.home-page-footer{
  height: 200px;
  background: #F5F5F5;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-page-footer-title{
  color: #D32223;
  font-size: 20px;
  font-weight: bold;
}

.home-page-footer-links{
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

.home-page-footer-links > a:hover{
  color: #D32223;
}